.container{
    background-color:dodgerblue;
    color: white;
    height: 750px;
    
    
}

.items{
    display: flex;
    
    justify-content: space-between;
}

.text{
    
    margin-left: 40px;
    color: white;
}

.al{
  
    margin-right: 40px;
    color: white;
}
.classtext2{
    margin-left: 120px;
    margin-top: 120px;
    
    
}


.btn{
    margin-left: 120px;
    margin-top: 15px;
}